@model GeletoCarDealer.Web.ViewModels.Administration.Vehicles.AllVehiclesViewModel
@{
    ViewData["Title"] = "Моите автомобили";
}
<div class="container agnet-prop">
    <div class="row">
        <div class="col-md-12">
            <div class="filter-wrapper">
                <ol class="list-option-filter">
                    <li class="sort-rates-lastest">
                        <div class="option-filter-box">
                            <span class="title">СОРТИРАЙ:</span>
                            <a href="" class="sort-icon orderby" data-order="" data-sort="rating_score">
                                Цена
                            </a> /
                            <a href="" class="sort-icon orderby active" data-order="" data-sort="date">
                                Последно добавени
                            </a>
                        </div>
                    </li>
                </ol>
                <div class="clearfix"></div>
                @foreach (var vehicle in Model.Vehicles)
                {

                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div>
                            <a asp-controller="Administration" asp-action="AllVehicles" asp-route-id="@vehicle.Id">
                                <div class="card-img-top zoom">
                                    <img src="@vehicle.ImageUrl" alt="@vehicle.Make">
                                </div>
                            </a>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
