
@{
    ViewData["Title"] = "Администратор";
}
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout"></div>
<div>
    <h1 align="center">Администраторска страница</h1>
</div>

<div align="center">
    <a asp-controller="Administration" asp-action="Create">
        <input type="button" class="btn btn-danger" value="Добави автомобили">
    </a>
    <a asp-controller="Administration" asp-action="AllVehicles">
        <input type="button" class="btn btn-danger" value="Моите автомобили">
    </a>
    <a asp-controller="Administration" asp-action="AllDeleted">
        <input type="button" class="btn btn-danger" value="Премахнати автомобили">
    </a>
</div>


