
@{
    ViewData["Title"] = "Index";
}
<div>
<h1 align="center">Hello, Admin</h1>
</div>

<div align="center">
    <button type="button" class="btn btn-danger">Добави автомобил</button>
    <button type="button" class="btn btn-danger">Редактирай автомобил</button>
</div>


