@model GeletoCarDealer.Web.ViewModels.Administration.Messages.AllMessagesViewModel

@{
    ViewData["Title"] = "Изпрати съобщение";
}
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout"></div>