@using GeletoCarDealer.Common
@using GeletoCarDealer.Data.Models.Enums
@{
    this.ViewData["Title"] = "Home Page";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /.preloader -->
@*<div id="preloader"></div>
<div class="theme-layout">*@
@*</div>*@
<div class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
<div class="container">
    <div class="inner-content">
        <span><i class="ti ti-home"></i></span>
        <h2>АВТОКЪЩА - ГЕЛЕТО</h2>
    </div>
</div>
<section class="block remove-top">
    <div class="container">
        <div class="col-md-12">
            <vc:most-rescent-vehicles>
            </vc:most-rescent-vehicles>
        </div>
    </div>
</section>
