@using GeletoCarDealer.Common
@using GeletoCarDealer.Data.Models.Enums
@{
    this.ViewData["Title"] = "Home Page";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
</div>
<section class="block remove-top">
    <div class="container">
        <div class="col-md-12">
                <vc:most-rescent-vehicles>
                </vc:most-rescent-vehicles>
        </div>
    </div>
</section>
