<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 column">
                        <div class="single-post-sec">
                            <div class="blog-post vehicul-post">
                                <div class="vehicul-gallery">
                                    <div class="light-slide-item">
                                        <div class="favorite-and-print">
                                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                <li data-thumb="~/img/one-car/1.jpg">
                                                    <img src="~/img/one-car/1.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/4.jpg">
                                                    <img src="~/img/one-car/4.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/3.jpg">
                                                    <img src="~/img/one-car/3.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/2.jpg">
                                                    <img src="~/img/one-car/2.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/1.jpg">
                                                    <img src="~/img/one-car/1.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/2.jpg">
                                                    <img src="~/img/one-car/2.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/3.jpg">
                                                    <img src="~/img/one-car/3.jpg" alt="KwitaraCars" />
                                                </li>
                                                <li data-thumb="~/img/one-car/4.jpg">
                                                    <img src="~/img/one-car/4.jpg" alt="KwitaraCars" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <h1>Price :  2000000$</h1>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="vehicul-detail">

                                            <div class="detail-field row">
                                                <span class="col-xs-6 col-md-5 detail-field-label">Manufacturer</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value"><a href="#" rel="tag">Ford</a></span>
                                                <span class="col-xs-6 col-md-5 detail-field-label">Model</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value"><a href="#" rel="tag">Ford x8</a></span>
                                                <span class="col-xs-6 col-md-5 detail-field-label">Vehicle Type</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value"><a href="#" rel="tag">City Cars</a></span>
                                                <span class="col-xs-6 col-md-5 detail-field-label">Color</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value">
                                                    <span class="amount">Red</span>
                                                </span>
                                                <span class="col-xs-6 col-md-5 detail-field-label">Mileage</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value">762 44 KM</span>


                                                <span class="col-xs-6 col-md-5 detail-field-label">fuel</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value">Diesel</span>

                                                <span class="col-xs-6 col-md-5 detail-field-label">Places</span>
                                                <span class="col-xs-6 col-md-7 detail-field-value">5</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <p>Lorem ipsum dolor sit amet, ssa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate. Sed in nulla ut elit mporta nibh leo a massa. Sed quam nunc, vulputate vel imperdiet vel, aliquet sit amet risus. Maecenas nec tempus velit. Praesent gravida mi et mauris sollicitudin ultricies. Duis molestie quam sem, ac faucibus velit. Curabitur dolor dolor, fringilla vel fringilla tempor, ultricies sed tellus. </p>
                                    </div>
                                </div>

                                <div class="vehicul-video">
                                    <div class="heading3">
                                        <h2>vehicul Video </h2>
                                    </div>
                                    <iframe height="400" src="https://www.youtube.com/embed/rlasf0cUfzU" allowfullscreen></iframe>
                                </div>

                                <div class="send-email-to-agent">
                                    <div class="comment-form">
                                        <div class="heading3">
                                            <h2>Send Message to Agent</h2>
                                        </div>
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>
                                                        <i class="fa fa-user"></i>
                                                        <input type="text" placeholder="Name" />
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>
                                                        <i class="fa fa-at"></i>
                                                        <input type="text" placeholder="Email Id" />
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>
                                                        <i class="fa fa-phone"></i>
                                                        <input type="text" placeholder="Phone Number" />
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>
                                                        <i class="fa fa-pencil"></i>
                                                        <textarea placeholder="Your Message"></textarea>
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="flat-btn">SEND MESSAGE</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- Blog Post -->
                        </div><!-- Blog POst Sec -->
                    </div>
                    <aside class="col-md-4 column">
                        <div class="agent_bg_widget widget">
                            <div class="agent_widget">
                                <div class="agent_pic">
                                    <a href="agent.html" title="">
                                        <img src="img/demo/man1.jpg" alt="" />
                                        <h3 class="nocontent outline">--- document outline needed 3 ---</h3>
                                        <h4>Smith forbes</h4>
                                    </a>
                                </div>
                                <span>
                                    <i class="fa fa-phone"> </i> +1 9090909090
                                </span>
                                <span>
                                    <i class="fa fa-envelope"> </i> agent@company.com
                                </span>
                                <a href="agent.html" title="" class="btn contact-agent">Find more</a>
                            </div>
                        </div><!-- Follow Widget -->

                        <div class="search_widget widget">
                            <div class="heading2">
                                <h3>SEARCH VEHICULS</h3>
                            </div>
                            <div class="search-form">
                                <form action="vehiculs.html" method="get" class="form-inline">
                                    <div class="search-form-content">
                                        <div class="search-form-field">
                                            <div class="form-group col-md-12">
                                                <div class="label-select">
                                                    <select class="form-control" name="s_location">
                                                        <option>Any Manufacturer</option>
                                                        <option>Audi</option>
                                                        <option>Mercedes-Benz</option>
                                                        <option>BMW</option>
                                                        <option>Lexus</option>
                                                        <option>Lincoln</option>
                                                        <option>Ford</option>
                                                        <option>Fiat</option>
                                                        <option>Dodge</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="label-select">
                                                    <select class="form-control" name="anymodule">
                                                        <option>Any Model </option>
                                                        <option value="1">R8</option>
                                                        <option value="2">S500</option>
                                                        <option value="3">540i</option>
                                                        <option value="4">RX300</option>
                                                        <option value="5">Navigator</option>
                                                        <option value="6">Taurus</option>
                                                        <option value="7">Doblo</option>
                                                        <option value="8">Viper</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <span class="gprice-label">Избери Цена</span>
                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                       data-slider-max="60000" data-slider-step="5"
                                                       data-slider-value="[0,60000]" id="price-range">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <span class="garea-label">Изминати километри</span>
                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                       data-slider-max="60000" data-slider-step="5"
                                                       data-slider-value="[50,60000]" id="vehicul-geo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-form-submit">
                                        <button type="submit" class="btn-search">Search</button>
                                    </div>
                                </form>
                            </div><!-- Services Sec -->
                        </div><!-- Category Widget -->
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>