@model GeletoCarDealer.Web.ViewModels.UsersArea.Messages.MessageInputModel
<div class="row">
    <div class="col-md-12">
        <label>
            <i class="fa fa-user"></i>
            <input asp-for="@Model.SendBy" name="SendBy" type="text" id="SendBy" placeholder="Име*">
            <span asp-validation-for="SendBy" class="text-danger"></span>
        </label>
    </div>
    <div class="col-md-12">
        <label>
            <i class="fa fa-user"></i>
            <input asp-for="@Model.Email" name="Email" type="text" id="Email" placeholder="Емайл*">
            <span asp-validation-for="Email" class="text-danger"></span>
        </label>
    </div>
    <div class="col-md-12">
        <label>
            <i class="fa fa-user"></i>
            <input asp-for="@Model.PhoneNumber" name="PhoneNumber" type="number" id="PhoneNumber" placeholder="Телефон*">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </label>
    </div>
    <div class="col-md-12">
        <label>
            <i class="fa fa-user"></i>
            <textarea asp-for="@Model.MessageContent" name="MessageContent" type="text" id="MessageContent" placeholder="Съдържание*"></textarea>
            <span asp-validation-for="MessageContent" class="text-danger"></span>
        </label>
    </div>
    <div class="col-md-12">
        <button type="submit" class="flat-btn">ИЗПРАТИ</button>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
