@{
    ViewData["Title"] = "NotFound";
}
<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-sec">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-not-found style2">
                                <span>Sorry the Page you are looking fot does not exist here</span>
                                <h3>404<strong>ERROR !</strong></h3>
                                <h4>You can Explore Our Website Back <br />to the Navigation Below</h4>
                                <ul>
                                    <li><a href="/Home/Index" title="">НАЧАЛО</a></li>
                                    <li><a href="/Vehicles/Vehicles" title="">АВТОМОБИЛИ</a></li>
                                    <li><a href="/Home/Contacts" title="">КОНТАКТИ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

