@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
</div>
<div class="registration-sec">
    <h1>Create a new account</h1>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All"></div>
        <div class="field">
            <input asp-for="Input.Username" type="text" id="username" name="username" placeholder="Username" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="Input.Email" type="text" id="email" name="email" placeholder="Your Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="Input.Password" type="password" id="password" name="password" placeholder="Type Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="Input.ConfirmPassword" type="password" id="confirmPassword" name="confirmPassword" placeholder="Retype Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="submit" value="Register" class="flat-btn" />
    </form>
</div><!-- Registration sec -->