@model GeletoCarDealer.Web.ViewModels.UsersArea.Vehicles.SearchBarViewModel
@using GeletoCarDealer.Data.Models.Enums
<section class="horizontal-search">
    <div class="container">
        <h1 class="nocontent outline">--- Search form  ---</h1>
        <div class="">
            <div class="search-form">
                <form action="vehiculs.html" method="get" class="form-inline">
                    <div class="search-form-content">
                        <div class="search-form-field">
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select" icon="fas fa-chevron-down">
                                    <select id="makes" asp-items="@(new SelectList(Model.Makes))" placeholder="Марка" class="form-control">
                                        <option value="">--Марка--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select id="models" asp-items="@(new SelectList(Model.Models))" placeholder="Модел" class="form-control">
                                        <option value="">--Модел--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select  asp-items="@Html.GetEnumSelectList<CategoryType>()" placeholder="Категория" class="form-control">
                                        <option value="">--Kатегория--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control" name="s_statu">
                                        <option>Сортирай по:</option>
                                        <option value="upPrice">Цена възходяща</option>
                                        <option value="downPrice">Цена низходяща</option>
                                        <option value="year">Година</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- Services Sec -->
        </div>
    </div>
</section>