@model GeletoCarDealer.Web.ViewModels.UsersArea.Vehicles.SearchBarViewModel
@using GeletoCarDealer.Data.Models.Enums
<section class="horizontal-search">
    <div class="container">
        <h1 class="nocontent outline">--- Search form  ---</h1>
        <div class="">
            <div class="search-form">
                <div class="search-form-content">
                    <div class="search-form-field">
                        <form id="order-form" asp-controller="Vehicles" asp-action="GetAll" method="GET">
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control">
                                        <option value="">--Марка--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control">
                                        <option value="">--Модел--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select id="category" asp-items="@Html.GetEnumSelectList<CategoryType>()" name="category" placeholder="Категория" class="form-control">
                                        <option value="">--Kатегория--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select id="sort" class="form-control" name="orderBy">
                                        <option>Сортирай по:</option>
                                        <option value="upPrice">Цена възходяща</option>
                                        <option value="downPrice">Цена низходяща</option>
                                        <option value="year">Година</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- Services Sec -->
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script>
    $('#sort').change(function () {
            $('#order-form').submit();
    });
    $('#category').change(function () {
            $('#order-form').submit();
        });
</script>